# Ignore everything, except wanted files #
##########################################
/*

# Git files
!/.gitignore
!/.gitconfig
!/.gitmodules

# Directories
!/post_install

# Configs
!/.bashrc
!/.emacs
!/.profile

!/.ssh/
/.ssh/*
!/.ssh/config

# Other
!/update.sh

!/.emacs.d/auto-complete-plus/