# Ignore everything, except wanted files #
##########################################
/*

# Git files
!/.gitignore
!/.gitconfig
!/.gitmodules

# Directories
!/post_install
!/.emacs.d/rinari
!/.emacs.d/scss-mode
!/.rbenv

# Configs
!/.bashrc
!/.emacs
!/.profile
!/.gemrc

# Other
!/update.sh
