[user]
    name = YarnSeemannsgarn
    email = janschlenker1990@gmail.com
[color]
    ui = auto
[pack]
    threads = 0
[push]
    default = simple
[core]
    editor = emacs
[alias]
    co = checkout
    c = commit
    b = branch
    s = status
    d = diff
    tree = log --branches --decorate --graph --tags
    t = log --branches --decorate --graph --tags
