[user]
    name = YarnSeemannsgarn
    email = janschlenker1990@gmail.com
[color]
    ui = auto
[pack]
    threads = 0
[push]
    default = simple
[core]
    editor = emacs
[alias]
    a = add
    b = branch
    co = checkout
    c = commit
    d = diff
    l = log
    s = !git status && git stash list
    t = log --branches --decorate --graph --tags
    tree = log --branches --decorate --graph --tags
