[submodule ".emacs.d/auto-complete-plus"]
	path = .emacs.d/auto-complete-plus
	url = git@github.com:emacsmirror/auto-complete-plus.git

[submodule ".emacs.d/emacs-prisma-mode"]
	path = .emacs.d/emacs-prisma-mode
	url = git@github.com:pimeys/emacs-prisma-mode.git

[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git

[submodule ".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git

[submodule ".oh-my-zsh-custom/plugins/you-should-use"]
	path = .oh-my-zsh-custom/plugins/you-should-use
	url = git@github.com:MichaelAquilina/zsh-you-should-use.git

[submodule ".oh-my-zsh-custom/plugins/zsh-bat"]
	path = .oh-my-zsh-custom/plugins/zsh-bat
	url = git@github.com:fdellwing/zsh-bat.git

[submodule ".oh-my-zsh-custom/plugins/zsh-npm-scripts-autocomplete"]
	path = .oh-my-zsh-custom/plugins/zsh-npm-scripts-autocomplete
	url = git@github.com:grigorii-zander/zsh-npm-scripts-autocomplete.git
