[submodule ".emacs.d/auto-complete-plus"]
	path = .emacs.d/auto-complete-plus
	url = git@github.com:emacsmirror/auto-complete-plus.git

[submodule ".oh-my-zsh-plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
