# Ignore everything, except wanted files #
##########################################
/*

# Git files
!/.gitignore
!/.gitconfig
!/.gitmodules

# Directories
!/post_install

# zsh
!/.oh-my-zsh/
/.oh-my-zsh/*

!/.oh-my-zsh/custom/
/.oh-my-zsh/custom/*

/.oh-my-zsh/custom/plugins/
!/.oh-my-zsh/custom/plugins/zsh-autosuggestions/

# Emacs
!/.emacs
!/.emacs.d/auto-complete-plus/

# Mercurial
!/.hgrc

# SSH
!/.ssh/
/.ssh/*
!/.ssh/config

# Other
!/update.sh